<div class="search-bar p-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form class="d-flex" [formGroup]="searchMovie" (ngSubmit)="onSubmit()">
                    <input class="form-control me-2"  formControlName="movieName" placeholder="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    
    <div class="movie-laoder" *ngIf="isLoader">
        <h3 class="display-2 text-white text-center">Loading.....</h3>
    </div>
    
    <div *ngIf="movieResults.length > 0" class="movie-lists">
        <div class="container">
            <div class="row">
                <div class="col-md-3" *ngFor="let item of movieResults">
                    <div class="movie-list">
                        <div class="cover">
                            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{item.poster_path}}" alt="cover">
                        </div>
                        <div class="content">
                            <h3>{{item.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="movieResults.length < 1" class="search-empty p-5">
        <h3 class="display-2 text-white text-center">No Movie Founds</h3>
    </div>
</div>