<div class="search-moive">
    <div class="search-box">
        <input class="form-control" placeholder="Search Movie" type="text" [formControl]="name" (ngModelChange)="openSearch($event)">
    </div>
    <div class="search-box-wrap" *ngIf="openSearchModal">
        <div class="loader" *ngIf="false">
            <h3>Loading....</h3>
        </div>
        <div>
            <div class="when-no-movie" *ngIf="false">
                <h3>No movie founds</h3>
            </div>
            <div class="movie-lists">
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
                <div class="movie-list">
                    <div class="cover">d</div>
                    <div class="content">
                        <h3>Movie Name</h3>
                        <p>Desc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>