//Fonts Stack
$lato: 'Lato', sans-serif;
$montserrat:   'Montserrat', sans-serif;
//System Fonts
$base-font:    $lato;
$heading-font: $montserrat;

//Primary Colors
$white:       #F8F8F8;
$white-01:    #FBFBFB;
$black:       #2F3335;
$cyan:        #089FD0;
$aquamarine:  #85FED8;
$aquamarine-02:  #59f0c1;
$aquamarine-03:  #70D6B7;


//Secondary color
$rose-01:    #D9BDC5;
$rose-02:    #A07178;
$rose-03:    #574447;

$red-01:     #F7B8B8;
$red-02:     #E65F5C;
$red-03:     #95413F;

$purple-01:  #D9D5E2;
$purple-02:  #AEA4BF;
$purple-03:  #696079;

$brown-01:   #E2CFC2;
$brown-02:   #B9A394;
$brown-03:   #837064;

$green-01:   #C3E2D2;
$green-02:   #7DC99A;
$green-03:   #359062;

$orange-01:  #F4D1AE;
$orange-02:  #E5AA7B;
$orange-03:  #CF8A53;

$grey-01:    #F2F4F3;
$grey-02:    #C3C9C9;
$grey-03:    #8B9393;
$grey-04:    #4D5353;
$grey-05:    #3F3F40;

//System Color
$base-bg:     $grey-01;
$base-color:  $grey-04;
$link-color:  $cyan;
