//Fonts Stack
$lato: 'Lato', sans-serif;
$montserrat:   'Montserrat', sans-serif;
//System Fonts
$base-font:    $lato;
$heading-font: $montserrat;

//Primary Colors
$white:       #F8F8F8;
$black:       #2F3335;
$black-01:    #222222;
//Secondary color

$dark-blue:   #130f40;
$dark-blue-01:#0c0927;

$blue: #22a6b3;


$grey-01:    #F2F4F3;
$grey-02:    #C3C9C9;
$grey-03:    #8B9393;
$grey-04:    #4D5353;
$grey-05:    #3F3F40;

//System Color
$base-bg:     $dark-blue;
$base-color:  $dark-blue;
$link-color:  $dark-blue;
